   #centro {text-align: center;}
   #logo {width: 300px; height: 200px;}
   #en {display:none;text-align: center; font-family: jokerman; color: #c0d031; font-size: 50px;}
   #centrosb {text-align: center; border: #3a8d0a; border-style: solid; border-width: 10px; height: fit-content; width: 680px; margin-left: auto; margin-right: auto;}
   #sfondoBarra {display:none;width: 680px; height: 30px; position: absolute; background-color: #ddd; border: 2px solid green; border-radius: 12px;}
   #barraCompletamento {display:none;width: 0px; background-color: #4CAF50; height: 30px; position: relative; border: 2px solid green; border-radius: 12px;}
   #gioco {display:none; text-align: center; border: #56340a; border-style: solid; border-width: 10px; height: fit-content; width: fit-content; margin-left: auto; margin-right: auto;resize: both; overflow: auto;padding: 0px; width: 1310px;}
   #energia {display:none;text-align: center; font-family: jokerman; color: #c0d031; font-size: 50px;}
   #btntouch {display:none; text-align: center;}
   #body {background-color:#3a8d0a;}
   #myBar {display:none;width: 100%; height: 30px; position: absolute; background-color: #98c5c3;border: 2px solid blue;border-radius: 12px;}
   #livello1{display:block;margin:0px auto;}#livello2{display:none;margin:0px auto;}#livello3{display:none;margin:0px auto;}#livello4{display:none;margin:0px auto;}#livello5{display:none;margin:0px auto;}#livello6{display:none;margin:0px auto;}
   #livello7{display:none;margin:0px auto;}#livello8{display:none;margin:0px auto;}#livello9{display:none;margin:0px auto;}#livello10{display:none;margin:0px auto;}
   ul{float: left;list-style-type: none; margin: 0;padding: 0;width: 90px;background-color: #f1f1f1;}
   li a {display: block;color: #000;padding: 8px 16px; text-decoration: none;}
   li a:hover {background-color: #3a8d0a; color: white;}
   #det{font-family: jokerman; color: #c0d031; font-size: 50px;text-align:center;}
   #dettagli{background-color:#3a8d0a;text-align:center;}
   #gameover {text-align: center; position: fixed;display: none;width: 100%;height: 100%;top: 0;left: 0;right: 0; bottom: 0;background-color: rgba(0,0,0,0.5);z-index: 2; cursor: pointer;}
   #win{text-align: center; position: fixed; display:none;width: 100%;height: 100%;top: 0;left: 0;right: 0; bottom: 0;background-color: rgba(0,0,0,0.5);z-index: 2; cursor: pointer;}
	#go{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);}
	#wi{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);-ms-transform: translate(-50%,-50%);}
	#centrosb {text-align: center; border: #3a8d0a; border-style: solid; border-width: 10px; height: fit-content; width: 680px; margin-left: auto; margin-right: auto;}
	#sfondoBarra {display:none;width: 680px; height: 30px; position: absolute; background-color: #ddd; border: 2px solid green; border-radius: 12px;}
   .btn-dark{background-color:#c0d031; color: #3a8d0a;}
   #buttonindex{text-align: center;}
   #classifica {text-align: center; font-family: jokerman; color: #c0d031; font-size: 50px;}
	#table {text-align: center; border: #56340a; border-style: solid; border-width: 10px; height: fit-content; width: fit-content; margin-left: auto; margin-right: auto;}
	#primo {background: #64f239;}
	#secondo {background: #f2ec39;}
	#terzo {background: #f23939;}
	body {background-color:#3a8d0a;}
	th, td {color: black;}
	th {background: #d1ffc3}
	table {background: #909a8d;}
	body {background-color:#3a8d0a;}
	h2 {text-align: center; font-family: jokerman; color: #c0d031; font-size: 50px;}
	label {color: #c0d031; font-weight: bold;}
	.btn-dark{background-color:#c0d031; color: #3a8d0a;}
	#popoverostacolo:hover{transform: scale(1.5,1.5);}
	#popoverspada:hover{transform: scale(1.5,1.5);}
	#popoverpillola:hover{transform: scale(1.5,1.5);}
	#popoverfungo:hover{transform: scale(1.5,1.5);}
	#popoverbuconero:hover{transform: scale(1.5,1.5);}
	#popoverportale:hover{transform: scale(1.5,1.5);}
	#popovernemico1:hover{transform: scale(1.5,1.5);}
	#popovernemico2:hover{transform: scale(1.5,1.5);}
	#popoveromino:hover{transform: scale(1.5,1.5);}
	#popoverominoConSpada:hover{transform: scale(1.5,1.5);}
	#popoverporta:hover{transform: scale(1.5,1.5);}
	#popoverchiave:hover{transform: scale(1.5,1.5);}
	#popoverlaser:hover{transform: scale(1.5,1.5);}
	.carousel-inner > .item > img,.carousel-inner > .item > a > img {width: 10%; margin: auto;}
	#myCarousel{width:1500px; margin: auto;}  
	.container{margin:auto;}
	#personaggi{text-align: center;}
	a {padding: 8px 16px;}
	#camilla:hover{transform: scale(1.5,1.5);}
	#paola:hover{transform: scale(1.5,1.5);}
	#stefano:hover{transform: scale(1.5,1.5);}
	#federico:hover{transform: scale(1.5,1.5);}
	#alessandro:hover{transform: scale(1.5,1.5);}
	#lilpeep:hover{transform: scale(1.5,1.5);}
	#omino:hover{transform: scale(1.5,1.5);}
	#successo{display:none; background-color:#3a8d0a; text-align: center; font-family: jokerman; color: #c0d031; font-size: 50px; border: none;}
   #punteggio {text-align: center; font-family: jokerman; color: #c0d031; font-size: 25px;}
  	h5 {text-align: center; font-family: jokerman; color: #c0d031; font-size: 25px;}
   
   